@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Tilt+Warp&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    height: 100vh;
    overflow: hidden;
    font-size: 16px;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

p, li {
    font-size: 0.8em;
}